* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #FCFCFC;
}

nav {
  border-bottom: 1px solid #fff;
  padding: 0px !important;
  position: fixed !important;
  width: 100%;
  background-color: #fff;
  top: 0px;
  z-index: 2000;
  left: 0px;
}
nav a {
  color: #000 !important;
}
nav .nav-link {
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  text-transform: uppercase;
  line-height: 48px;
  font-size: 15px;
  color: #000 !important;
}
@media (max-width: 991px) {
  nav .nav-link {
    color: #000 !important;
  }
}
@media (max-width: 991px) {
  nav .navbar-collapse {
    background-color: #fff;
  }
}
nav button {
  background-color: #FF7200;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.main-banner {
  overflow: hidden;
  background-color: #FF7200;
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-banner .col-12 h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 38px;
  color: #fff;
}
@media (max-width: 991px) {
  .main-banner .col-12 h1 {
    font-size: 28px;
    line-height: normal;
    text-align: center;
  }
}
.main-banner .col-12 h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  font-size: 28px;
  color: #fff;
}
@media (max-width: 991px) {
  .main-banner .col-12 h2 {
    font-size: 22px;
    line-height: normal;
    text-align: center;
  }
}
.main-banner .col-12 p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 17px;
  color: #fff;
}
@media (max-width: 991px) {
  .main-banner .col-12 p {
    font-size: 14px;
  }
}
.main-banner .col-12 button {
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.main-banner .col-12 button a {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.home-what-shiksha-does {
  padding: 50px 0px;
  background: #F7F7F7;
}
.home-what-shiksha-does h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 53px;
  color: #48413e;
}
@media (max-width: 991px) {
  .home-what-shiksha-does h2 {
    font-size: 28px;
    line-height: normal;
  }
}
.home-what-shiksha-does p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 28px;
  color: #48413e;
}
@media (max-width: 991px) {
  .home-what-shiksha-does p {
    font-size: 14px;
    line-height: normal;
  }
}
.home-what-shiksha-does .col-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
  height: 100%;
  border-radius: 10px;
  transition: 0.4s linear;
  border-bottom: 4px solid #fff;
  background: #fff;
  box-shadow: 2px 7px 14px -2px #e0d9d9;
}
.home-what-shiksha-does .col-box h6 {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #0d0d2e;
}

.about-us {
  padding: 50px 0px;
}
.about-us h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  color: #48413e;
}
.about-us h2 span {
  color: #FF7200;
}
@media (max-width: 991px) {
  .about-us h2 {
    font-size: 32px;
    line-height: normal;
  }
}
.about-us p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #48413e;
}
@media (max-width: 991px) {
  .about-us p {
    font-size: 15px;
    line-height: normal;
  }
}

.how-student {
  padding: 50px 0px;
}
.how-student h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  color: #48413e;
}
.how-student h2 span {
  color: #FF7200;
}
@media (max-width: 991px) {
  .how-student h2 {
    font-size: 32px;
    line-height: normal;
  }
}
.how-student p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #48413e;
}
@media (max-width: 991px) {
  .how-student p {
    font-size: 15px;
    line-height: normal;
  }
}
.how-student li {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 26px;
  color: #000;
  list-style: none;
}
.how-student li span {
  color: #FF7200;
  font-weight: 700;
}

.home-tutor {
  padding-bottom: 50px;
}
.home-tutor h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  color: #48413e;
}
.home-tutor h2 span {
  color: #FF7200;
  font-weight: 700;
}
@media (max-width: 991px) {
  .home-tutor h2 {
    font-size: 32px;
    line-height: normal;
  }
}
.home-tutor p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #48413e;
}
@media (max-width: 991px) {
  .home-tutor p {
    font-size: 15px;
    line-height: normal;
  }
}
.home-tutor li {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 26px;
  color: #000;
  list-style: none;
}

.home-cta-want {
  padding: 70px 0px;
  background: #FF7200;
}
.home-cta-want h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 39px;
  line-height: 47px;
  color: #fff;
}
@media (max-width: 991px) {
  .home-cta-want h2 {
    font-size: 26px;
    line-height: normal;
  }
}
.home-cta-want button {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}
.home-cta-want button a {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-size: 23px;
  line-height: 34px;
  color: #FF7200;
}

.otoo-features {
  padding: 50px 0px;
  background: #F7F7F7;
}
.otoo-features h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 53px;
  color: #48413e;
}
@media (max-width: 991px) {
  .otoo-features h2 {
    font-size: 30px;
    line-height: normal;
  }
}
.otoo-features .bg {
  background: url(../Images/side-triangle.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}
.otoo-features .bg .col-box {
  padding: 50px 20px;
  height: 100%;
  background: #fff;
}
.otoo-features .bg .col-box h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  color: #212529;
}
@media (max-width: 991px) {
  .otoo-features .bg .col-box h3 {
    font-size: 16px;
    line-height: normal;
  }
}
.otoo-features .right-bg {
  background: url(../Images/right-bg.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}
.otoo-features .right-bg .col-box {
  padding: 50px 20px;
  height: 100%;
  background: #fff;
}
.otoo-features .right-bg .col-box h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  color: #212529;
}
@media (max-width: 991px) {
  .otoo-features .right-bg .col-box h3 {
    font-size: 16px;
    line-height: normal;
  }
}
.otoo-features .right-bg p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #212529;
}
@media (max-width: 991px) {
  .otoo-features .right-bg p {
    font-size: 16px;
    line-height: normal;
  }
}

.how-contact {
  padding: 50px 0px;
}
.how-contact h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #48413e;
}
.how-contact h2 span {
  color: #FF7200;
}
@media (max-width: 991px) {
  .how-contact h2 {
    font-size: 28px;
    line-height: normal;
  }
}
.how-contact p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #48413e;
}
@media (max-width: 991px) {
  .how-contact p {
    font-size: 15px;
    line-height: normal;
  }
}
.how-contact h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
  color: #48413e;
}
@media (max-width: 991px) {
  .how-contact h3 {
    font-size: 24px;
    line-height: normal;
  }
}
.how-contact h6 {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}
@media (max-width: 991px) {
  .how-contact h6 {
    font-size: 15px;
    line-height: normal;
  }
}
.how-contact h5 {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.become-tutor {
  background-color: #F7F7F7;
  padding: 50px 0px;
}
.become-tutor h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 53px;
  color: rgb(72, 65, 62);
}
.become-tutor h2 sPan {
  color: #FF7200;
}
@media (max-width: 991px) {
  .become-tutor h2 {
    font-size: 28px;
    line-height: normal;
  }
}
.become-tutor .col-box {
  padding: 30px 10px;
  background: #fff;
  border: 0;
  box-shadow: 2px 7px 14px -2px #e0d9d9;
  border-radius: 12px;
}
.become-tutor .col-box h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  color: rgb(72, 65, 62);
}
.become-tutor .col-box p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.how-tutor {
  padding: 50px 0px;
  background: url(../Images/whyus-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .how-tutor {
    background: none;
  }
}
.how-tutor h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 53px;
  color: #48413e;
}
.how-tutor h2 span {
  color: #FF7200;
}
@media (max-width: 991px) {
  .how-tutor h2 {
    font-size: 30px;
    line-height: normal;
  }
}
.how-tutor h3 {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: rgb(33, 37, 41);
}
@media (max-width: 991px) {
  .how-tutor h3 {
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
  }
}
.how-tutor p {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.home-testimonials {
  padding: 100px 0px;
  background-color: #FEF6F7;
}
.home-testimonials h2 {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 53px;
  color: #48413e;
}
@media (max-width: 991px) {
  .home-testimonials h2 {
    font-size: 30px;
    line-height: normal;
  }
}
.home-testimonials .box {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
}
.home-testimonials .box p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #707070;
  font-family: Manrope, sans-serif;
}
@media (max-width: 991px) {
  .home-testimonials .box p {
    font-size: 14px;
    line-height: normal;
  }
}
.home-testimonials .box h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 23px;
  font-family: "DM Sans", sans-serif;
  color: #000;
}

.foot {
  background-color: #33302d;
  padding-top: 50px;
  padding-bottom: 10px;
}
.foot h3 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
}
.foot hr {
  border: 1px solid #000;
}
.foot h5 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 0px;
}
.foot h5 span {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
  color: #fff;
}
.foot p {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 14px;
  color: #fff;
}
.foot li {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  line-height: 25px;
  font-size: 16px;
  list-style: none;
}
.foot li a {
  text-decoration: none;
  color: #fff;
}
.foot h6 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  line-height: 25px;
  font-size: 16px;
}

.student-banner {
  background-color: #FF7200;
  padding: 100px 0px;
}
.student-banner h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 42px;
  color: #fff;
}
@media (max-width: 991px) {
  .student-banner h1 {
    font-size: 24px;
    line-height: normal;
    text-align: center;
  }
}
.student-banner h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  font-size: 28px;
  color: #fff;
}
@media (max-width: 991px) {
  .student-banner h2 {
    font-size: 18px;
    line-height: normal;
    text-align: center;
  }
}
.student-banner p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  font-size: 17px;
  color: #fff;
}
@media (max-width: 991px) {
  .student-banner p {
    font-size: 12px;
  }
}
.student-banner .form-box {
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.student-banner .form-box input {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070;
  line-height: 25px;
  font-size: 14px;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .student-banner .form-box input {
    padding: 5px;
    font-size: 13px;
  }
}
.student-banner .form-box select {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070;
  line-height: 25px;
  font-size: 14px;
  border-radius: 10px;
}
@media (max-width: 991px) {
  .student-banner .form-box select {
    padding: 5px;
    font-size: 13px;
  }
}
.student-banner .form-box textarea {
  width: 100%;
  border-radius: 10px;
}
.student-banner .form-box button {
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

.why-students-real {
  padding: 50px 0px;
}
.why-students-real h2 {
  font-family: Archivo, sans-serif;
  font-size: 45px;
  line-height: 60px;
  color: #101010;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}
.why-students-real h2 span {
  color: #38B18A;
}
.why-students-real p {
  font-family: Archivo, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.5019607843);
  font-weight: 400;
  font-style: normal;
}
.why-students-real .col-box {
  box-shadow: -30px 30px 60px 0px rgba(0, 0, 0, 0.07);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.631372549);
  padding: 50px 20px;
  height: 100%;
}
.why-students-real .col-box h3 {
  font-family: Archivo, sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 26px;
  font-style: normal;
  color: #101010;
  padding: 30px 0px;
}
.why-students-real .col-box p {
  font-family: Archivo, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  color: #666;
}

.student-steps {
  padding: 50px 0px;
  background-color: #F9F1F8;
  overflow: hidden;
}
.student-steps h6 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
  background-color: #38B18A;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.student-steps h2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin-bottom: 0px;
}
.student-steps p {
  font-family: Archivo, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  color: #666;
}

.specialisation {
  overflow: hidden;
}
.specialisation h2 {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 39px;
  color: #1b212f;
}
.specialisation p {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  font-size: 16px;
  color: #707070;
}
.specialisation h3 {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 29px;
  font-size: 18px;
  color: #000009;
}
.specialisation .col-box {
  background-color: #FEF6F7;
  height: 100%;
  padding: 20px;
}

.local-class {
  padding-bottom: 40px;
}
.local-class h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #000;
}
.local-class h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #33302d;
  margin-bottom: 0px;
}
.local-class p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 24px;
  color: #686664;
  font-style: normal;
}
.local-class .box {
  padding: 20px;
  border-radius: 10px;
  background-color: #F9F1F8;
  width: -moz-fit-content;
  width: fit-content;
}

.tutor-banner {
  background-color: #FF7200;
  padding: 100px 0px;
}
.tutor-banner h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  font-size: 42px;
  color: #fff;
}
@media (max-width: 991px) {
  .tutor-banner h1 {
    font-size: 24px;
    line-height: normal;
  }
}
.tutor-banner p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  color: #fff;
}
@media (max-width: 991px) {
  .tutor-banner p {
    font-size: 14px;
    line-height: normal;
  }
}
.tutor-banner .form-box {
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.tutor-banner .form-box input {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070;
  line-height: 25px;
  font-size: 14px;
  border-radius: 10px;
}
.tutor-banner .form-box select {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070;
  line-height: 25px;
  font-size: 14px;
  border-radius: 10px;
}
.tutor-banner .form-box textarea {
  width: 100%;
}
.tutor-banner .form-box button {
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

.career {
  background-color: #F9F1F8;
  padding: 50px 0px;
}
.career h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  color: #000;
}
.career h2 span {
  color: #38B18A;
}
.career p {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070;
  line-height: 25px;
  font-size: 16px;
}
.career h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #33302d;
}
.career h6 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #000;
  line-height: 25px;
  font-size: 18px;
}

.looking {
  padding: 50px 0px;
  background-color: #F9F1F8;
  overflow: hidden;
}
.looking h2 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  color: #000;
  margin-bottom: 30px;
}
.looking h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #33302d;
}
.looking .col-box {
  background-color: #fff;
  height: 100%;
  padding: 20px;
}
.looking p {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070;
  line-height: 25px;
  font-size: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999999;
}

.form-container {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  background-position: center;
  background-size: cover;
  padding: 20px 120px;
  border-radius: 5px;
  display: none;
  z-index: 999999;
}

.form-container button:hover {
  background-color: white;
  color: black;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popup_form .cross {
  background-color: #19382B;
  color: #fff;
}
.popup_form .cross:hover {
  background-color: #19382B;
  color: #fff;
}

.popup_form label {
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 18px;
}

.popup_form input {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  color: #53626a;
}

.popup_form textarea {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  color: #53626a;
}

.popup_form h5 {
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 24px;
}

.popup_form h6 {
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 15px;
  text-align: center;
}

.popup_form button {
  background-color: #19382B;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-weight: 500;
}
.popup_form button:hover {
  border: 1px solid #19382B;
}

@media (max-width: 576px) {
  .form-container {
    top: 50%;
    width: 100%;
    padding: 50px 60px;
  }
  .btn_brochure {
    background-color: #1e1916;
    padding: 5px 0 20px 0;
    margin-top: -5px;
  }
}
.side-button {
  position: fixed;
  left: -30px;
  bottom: 100px;
  z-index: 4000;
  rotate: 90deg;
}
@media (max-width: 991px) {
  .side-button {
    bottom: 200px;
  }
}
.side-button button {
  background-color: #FF7200;
  padding: 5px 10px;
  border: none;
  color: #fff;
}
.side-button button a {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.social-icons {
  display: none;
}
@media (max-width: 991px) {
  .social-icons {
    display: flex;
    padding: 0px 0px;
    position: fixed;
    z-index: 7000;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: #fff;
  }
}
.social-icons .row {
  width: 100%;
}
.social-icons .row .col-6 {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttone {
  background-color: #FF7200;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.buttone a {
  font-family: "Arimo", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */